* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
}
@media only screen and (min-width: 768px) {
  .header__content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }
}
.header__content .logo {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  color: #08A6E4;
  letter-spacing: 0;
  font-weight: normal;
  padding: 0.5em 1em;
}
.header__content .menu {
  display: none;
}
.header__content .menu li {
  padding: 1em 1em;
  list-style: none;
}
.header__content #hamburger {
  display: none;
}
.header__content #hamburger:checked ~ menu {
  display: none;
}

.hamburger__toggle {
  padding: 1em 1em;
}
.hamburger__toggle span {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #08A6E4;
  transition: 0.3s all ease-in-out;
}
@media only screen and (min-width: 768px) {
  .hamburger__toggle span {
    padding: 15px;
    display: none;
  }
}

.welcome {
  overflow: hidden;
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.welcome .welcome__text {
  text-align: center;
  margin-top: 6.25em;
  max-width: 15.25em;
}
@media only screen and (min-width: 768px) {
  .welcome .welcome__text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.welcome .welcome__text h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.1875em;
  color: black;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 1.25em;
}
.welcome .welcome__text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: black;
  letter-spacing: 0;
  margin-bottom: 1.75em;
}

.button__basic {
  width: 19.375em;
  height: 4.1875em;
  background-color: #08A6E4;
  border-radius: 40em;
  padding: 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: white;
  letter-spacing: 0;
  font-weight: 700;
  box-shadow: 5px 10px 14px #07ACE629;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .button__basic {
    padding: 15px;
    width: 27.5em;
    max-height: 5em;
  }
}

@media only screen and (min-width: 768px) {
  .background__image {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.stats h2 {
  text-align: center;
  margin: 3.125em auto;
  max-width: 9.93em;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #000;
  letter-spacing: 0;
  font-weight: normal;
}
.stats .circle {
  margin-top: 1.5625em;
  width: 3.875em;
  height: 3.875em;
  border-radius: 3.875em;
  background-color: #FB3B64;
}

/*# sourceMappingURL=main.css.map */
