
.header__content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
  @include desktop{
    display: flex;
    justify-content: space-between;
    padding: 0 1em;

  }
  .logo{
    @include releway(2em, $primary-color, 0, normal);
    padding: 0.5em 1em;
  }

    .menu {
      display: none;
      li {
        padding: 1em 1em;
        list-style: none;
      }
    }

  #hamburger{
    display: none;

    &:checked{
      ~menu{
        display: none;

        }
      }
    }
  }
  .hamburger__toggle{
    //position: fixed;
    //top:1em;
    //left: 1em;
    padding: 1em 1em;
    span{
      width: 20px;
      height: 2px;
      display: block;
      margin-bottom:3px;
      background-color: $primary-color;
      transition: 0.3s all ease-in-out;
      @include desktop{
        display: none;
      }
    }
  }

