.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  h2{
    text-align: center;
    margin: 3.125em auto;
    max-width: 9.93em;
    @include releway(30px, #000, 0, normal);
  }
  .circle{
    margin-top: 1.5625em;
    width: 3.875em;
    height: 3.875em;
    border-radius: 3.875em;
    background-color: $color-reddish;
  }
}